header{
  
  background-color:  greenyellow;
}
nav{
  
  background-color: green;
}
aside.uno{
  background-color: orange;
  float: left;
}
aside.dos{
  background-color: orange;
  float: right;
}

main{
  background-color: red;
}
article{
  position: absolute;
  background-color: white;
}
footer{
  background-color: blueviolet;
}