 .contenedor1 {
                background-color: lightgreen;
                width: 300px;
                height: 150px;
                line-height: 150px;
                text-align: center;
                
        }
.contenido1 {
              background-color: lightblue;
                width: 200px;
                height: 100px;
                line-height: 1;
                display: inline-block;
                vertical-align: middle;
                text-align: left;

        }


.uno{
  background-color: orange;
  float: left;
  
}
.dos{
  background-color: orange;
  float: right;
}

main{
  background-color: red;
}
article{
  position: absolute;
  background-color: white;
}
footer{
  background-color: blueviolet;
}